.appBar {
    width: 100%;
    height: 6vw;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.appBar > a {
    position: relative;
    height: 6vw;
    width: 10vw;
    text-decoration: none;
    color: white;
}

.animateText {
    opacity: 0; 
    animation: disapearSpin 0.8s;
}

@keyframes appearSpin {
    0% {
        -webkit-transform: scale(0%);
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(100%);
        opacity: 1;
    }
}

@keyframes disapearSpin {
    0% {
        -webkit-transform: scale(100%);
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(30%);
        opacity: 0;
    }
}