.titlePage {
    margin-top: 3vw;
    font-size: 5vw;
    text-align: center;
    color: white;
}

.listServices {
    padding: 5vw 0 0 0;
    margin: auto;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 1.5vw;
}

.serviceLogo {
    transform: scale(80%);
    opacity: 80%;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
}

.serviceLogo:hover {
    opacity: 100%;
    transform: scale(100%);
    animation: rotating 1s;
    transform-style: preserve-3d;
}

.logoGoCenter {
    top: 50%;
    left: 50%;
    transition: 1s;
}

@keyframes rotating {
    50% {
        -webkit-transform: scale(150%) rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(720deg);
    }
}
.serviceTitle {
    color: rgba(255, 255, 255, 0.8);
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
}

.descriptionService {
    position: absolute;
    width: 30vw;
    transition: 1s;
}

.descriptionLeft {
    transform: translateX(-30vw);
}

.descriptionRight {
    transform: translateX(15vw);
}

.hidden {
    opacity: 0;
    transition: 0.5s;
}

.littleTitle {
    font-size: 2.5vw;
    padding: 1vw 0;
}

.littleElem {
    font-size: 1.5vw;
    padding: 0.5vw 0;
}

.littleElemTitle {
    font-size: 2.5vw;
}

.littleElemDescription {
    padding: 0 2vw;
}

.subDescription {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}

.button {
    padding: 1vw;
    cursor: pointer;
    animation: agitate 0.5s infinite;
    margin: 3vw auto;
}

.button:hover {
    animation: agitate 0.5s;
}

@keyframes agitate {
    0% {
        transform: rotate(-5deg);
    }
    33% {
        transform: rotate(0deg);        
    }
    66% {
        transform: rotate(5deg);
    }
}