.servicePage {
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination > div {
    min-width: 30%;
}

.serviceLogo {
    width: 20vw;
    height: 20vw;
    transform: scale(80%);
    opacity: 80%;
    cursor: pointer;
}

.serviceLogo:hover {
    opacity: 100%;
    transform: scale(100%);
    animation: rotating 1s;
    transform-style: preserve-3d;
}

@keyframes rotating {
    0% {
        -webkit-transform: scale(80%);
    }
    50% {
        -webkit-transform: scale(80%) rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(720deg);
    }
}

.littleTitleLeft {
    color: white;
    text-align: left;
    margin: 0 36vw;
    font-size: 2.5vw;
    margin-bottom: 5vw;
}

.littleTitleRight {
    color: white;
    text-align: right;
    margin: 0 35vw;
    font-size: 2.5vw;
    margin-bottom: 5vw;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3vw;
    column-gap: 3vw;
}

.card {
    width: 10vw;
    height: 10vw;
    cursor: pointer;
    border-radius: 1vw;
    font-size: 1.5vw;
    background-color: rgba(255, 255, 255, 0.1);
    border: 3px white solid;
    color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

.subDescriptionAction {
    text-align: center;
    color: #D9DBF1;
    width: 50%;
}

.subDescriptionReAction {
    text-align: center;
    color: #D9DBF1;
}
/* 
.buttonPadding {
    padding: 0.5vw 0;
} */

.draggable {
    opacity: 1;
}