@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
@font-face {
  font-family: 'AvenirNextMedium';
  src: url('/public/fonts/AvenirNextMedium.ttf') format('ttf');
}

* {
  font-family: 'AvenirNextMedium';
  font-weight: bold;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

input {
  outline: none;
}

.background {
  min-height: 100vh;
  padding-bottom: 10vw;
  background: linear-gradient(270deg, rgb(0, 13, 77), rgb(0, 78, 167));
  background-size: 400% 400%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 35%}
  50%{background-position:100% 66%}
  100%{background-position:0% 35%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 35%}
  50%{background-position:100% 66%}
  100%{background-position:0% 35%}
}
@keyframes AnimationName {
  0%{background-position:0% 35%}
  50%{background-position:100% 66%}
  100%{background-position:0% 35%}
}