.servicePage {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 13, 77));
    min-height: 230vh;
}

.titlePage {
    margin-top: 3vw;
    font-size: 5vw;
    text-align: center;
    color: white;
}

.listServices {
    padding: 5vw 0 0 0;
    margin: auto;
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 1.5vw;
}

.serviceLogo {
    transform: scale(80%);
    opacity: 80%;
    width: 15vw;
    height: 15vw;
    cursor: pointer;
}

.serviceLogo:hover {
    opacity: 100%;
    transform: scale(100%);
    animation: rotating 1s;
    transform-style: preserve-3d;
}

.logoGoCenter {
    top: 50%;
    left: 50%;
    transition: 1s;
}

@keyframes rotating {
    50% {
        -webkit-transform: scale(150%) rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(720deg);
    }
}

.descriptionService {
    position: absolute;
    width: 30vw;
    height: 50vh;
    transition: 1s;
}

.descriptionLeft {
    transform: translateX(-30vw);
}

.descriptionRight {
    transform: translateX(15vw);
}

.hidden {
    opacity: 0;
    transition: 0.5s;
}

.littleTitle {
    font-size: 2.5vw;
    padding: 1vw 0;
}

.littleElem {
    font-size: 1.5vw;
    padding: 0.5vw 0;
}

.subDescription {
    text-align: center;
    color: #849ee6;
}