.servicePage {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 13, 77));
    min-height: 90.6vh;
    padding: 5vw 0 0 0;
    display: grid;
}

.serviceLogo {
    transform: scale(70%);
    opacity: 80%;
    margin: auto;
    cursor: pointer;
}

.serviceLogo:hover {
    opacity: 100%;
    transform: scale(80%);
    animation: rotating 1s;
    transform-style: preserve-3d;
}

@keyframes rotating {
    50% {
        -webkit-transform: scale(80%) rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(720deg);
    }
}

.logoGoCenter {
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    transition: 1s;
    transform: scale(80%);
}

.littleTitle {
    font-size: 2.5vw;
    padding: 1vw 0;
}

.button {
    border-radius: 15px;
    font-size: 1.5vw;
    padding: 16px 32px;
    background-color: rgb(114, 235, 154); 
    color: rgb(0, 13, 77); 
    border: 2px solid #2c54c0;
    transition : 0.4s;
}

.button:hover{
    background-color: #2c54c0;
    color: Black;
}

.clicked{
    border-radius: 15px;
    font-size: 1.5vw;
    padding: 16px 32px;
    background-color: #2c54c0;
    color: Black;
}

.subDescriptionAction {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    color: #5b85ee;
}

.subDescriptionReAction {
    grid-column: 3;
    grid-row: 1;
    text-align: center;  
    color: #5b85ee;
}

.buttonPadding {
    padding: 0.5vw 0;
}