.servicePage {
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 13, 77));
    min-height: 100vh;
}

.pagination {
    display: flex;
}

.serviceLogo {
    transform: scale(70%);
    opacity: 80%;
    margin: auto;
    cursor: pointer;
    padding: 5vw 0 0 0;
}

.serviceLogo:hover {
    opacity: 100%;
    transform: scale(80%);
    animation: rotating 1s;
    transform-style: preserve-3d;
}

@keyframes rotating {
    50% {
        -webkit-transform: scale(80%) rotateY(360deg);
    }
    100% {
        -webkit-transform: rotateY(720deg);
    }
}

.logoGoCenter {
    margin: auto;
    transition: 1s;
    transform: scale(80%);
}

.littleTitle {
    font-size: 2.5vw;
    padding: 1vw 0;
}

.button {
    border-radius: 15px;
    font-size: 1.5vw;
    padding: 16px 32px;
    background-color: #D9DBF1; 
    color: rgb(0, 13, 77); 
    border: 2px solid #007EA7;
    transition : 0.4s;
}

.button:hover{
    background-color: #007EA7;
    color: Black;
}

.clicked{
    border-radius: 15px;
    font-size: 1.5vw;
    padding: 16px 32px;
    background-color: #007EA7;
    color: Black;
}

.subDescriptionAction {
    text-align: center;
    color: #007EA7;
}

.subDescriptionReAction {
    text-align: center;
    color: #007EA7;
}

.buttonPadding {
    padding: 0.5vw 0;
}