.container {
    cursor: pointer;
    position: relative;
    width: 35.714vw;
    height: 5.357vw;
    border: 0.071vw solid white;
    border-radius: 7.143vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.container > img {
    width: 7.143vw;
    width: 7.143vw;
}