.profilePage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 80vh;
}

.background {
    background: radial-gradient(rgb(0, 126, 167), rgb(0, 13, 77));
    min-height: 100vh;
}