.home {
    cursor: none;
    width: 100vw;
    height: 680px;
    background-image: url("backgroundHomeImg.jpg");
    background-size: cover;
    background-position: top;
    z-index: 0;
}

.buttonArea {
    position: absolute;
    width: 14.286vw;
    height: 5.357vw;
    top: calc(50vh - 11vh / 2);
    left: calc(50vw - 14.286vw / 2);
    font-size: 1.429vw;
    border-radius: 3.571vw;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    /* border: 1px white solid; */
    box-shadow: white 0px 0px 0.714vw 0.714vw;
    transition: 0.5s;
    z-index: 3;
}

.buttonArea:hover {
    background-color: rgba(255, 255, 255, 0.25);
    box-shadow: white 0px 0px 0.5vw 0.5vw;
    transition: 1s;
}

.followMouse {
    border-radius: 1.429vw;
    position: absolute;
    width: 0px;
    height: 0px;
    box-shadow: white 0px 0vw 0.714vw 0.714vw;
    z-index: 3;
    overflow: hidden;
}

.gridItem {
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    opacity: 0;
    transition: 3s;
    overflow: hidden;
}

.gridItem:hover {
    transition: 0.5s;
    opacity: 0.5;
}