.background {
    background: radial-gradient(rgb(0, 126, 167), rgb(0, 13, 77));
    min-height: 100vh;
}

.centerRow {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.logWidget {
    margin: auto;
    width: 43vw;
    height: 43vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sizedBox100pxH {
    height: 7.143vw;
}

@media (width < 800px) {
    .logWidget {
        width: 70vw;
    }
}