.configContainer {
    width: 71.429vw;
    margin: 3.571vw auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 3vw;
}

.arrow {
    font-size: 3vw;
}

.imgTextContainer {
    cursor: pointer;
    position: relative;
    width: 35.714vw;
    height: 5.357vw;
    border: 0.071vw solid white;
    border-radius: 7.143vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    align-items: center;
}

.imgTextContainer > img {
    width: 7.143vw;
    width: 7.143vw;
}